@import '../variables/colors.scss';
@import '../variables/fontsizes.scss';

form {
  display: block;
  width: 30vw;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: $darkgrey;
  
  &:first-child {
    margin-top: 3rem;
  }
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 1rem 0 3rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: $grey;
}

button, .button {
  border: none;
  border: 0.2rem solid $blue;
  background: $blue;
  color: $white;
  border-radius: 3rem;
  padding: 1rem 4rem;
  margin: 3rem auto;
  display: block;

  &:hover {
    background: $white;
    color: $blue;
    border-color: $blue;
  }
}

.secondaryButton {
  background: none;
  color: $blue;

  &:hover {
    background: $blue;
    color: $white;
  }
}

.halfInputFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.halfInput {
  display: inline-block;
  width: 45%;

  & label:first-child {
    margin-top: 1rem;
  }
}

.formAlt {
  display: block;
  text-align: center;
  margin-top: 2rem;
  color: $blue;
  font-size: $font-size-tiny;
}

.passwordLabel {
  display: flex;
  justify-content: space-between;
}